sudo: false
language: node_js
node_js:
  - 'stable'
branches:
  only:
    - test
cache:
  directories:
    - node_modules
before_install:
  - npm update
install:
  - npm install
script:
  - npm run test
after_success:
  - npm run coveralls
